@use '../tools/' as tools;

.carousel {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__button {
        display: none;
    }
}

@include tools.media-breakpoint(md) {
    .carousel {
        position: relative;
        margin-left: 1.5rem;
        margin-right: 1.5rem;

        &__container {
            display: flex;
            flex-direction: row;
            padding: 3rem 0rem;
            overflow: hidden;
            width: 100%;

            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none;
            scrollbar-width: none;
            transition-duration: 0ms;

            &::-webkit-scrollbar {
                display: none;
            }

            & > * {
                scroll-snap-align: center;
            }
        }

        &__item {
            width: 100%;
            min-width: 100%;
        }

        &__button {
            display: block;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            background: #fff;
            border-radius: 99px;
            padding: 2px;

            i {
                font-size: 35px;
            }

            &:first-child {
                top: 50%;
                left: 1rem;
            }

            &:last-child {
                top: 50%;
                right: 1rem;
            }
        }
    }
    .carousel__item {
        width: 44%;
        min-width: 44%;
    }
}

@include tools.media-breakpoint(lg) {
    .carousel__item {
        width: 29%;
        min-width: 29%;
    }
}

@include tools.media-breakpoint(xl) {
    .carousel {
        margin-left: 0;
        margin-right: 0;

        &__button {
            display: block;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            background: var(--primary);
            color: #ffffff;
            border-radius: 99px;
            padding: 2px;

            i {
                font-size: 35px;
            }

            &:first-child {
                top: 50%;
                left: -4rem;
            }

            &:last-child {
                top: 50%;
                right: -4rem;
            }
        }
    }
}
