@use '../tools' as tools;

section,
.section {
    background-size: cover;
    background-position: center;

    &--rounded {
        border-radius: tools.rounded('lg');
    }
}

.box {
	margin-left: -1.5rem;
    margin-right: -1.5rem;
}
