@use '../tools' as tools;

section,
.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-size: cover;
    background-position: center;

    &--rounded {
        border-radius: tools.rounded('lg');
    }
}
