.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text--primary {
    color: var(--primary-page);
}

.text-center {
    text-align: center;
}

.font-bold {
    font-weight: bold;
}

.font-normal {
    font-weight: normal;
}

.justify-between {
    justify-content: space-between;
}

.invisible {
    visibility: hidden;
    opacity: 0;
}

.text--secondary {
    color: var(--secondary-page);
}

.text--error {
    color: var(--error);
}

.text--warning {
    color: var(--warning);
}

.text-xs {
    font-size: space(3) !important;
    line-height: space(4) !important;
}

.link {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 600;
}

article p.parser-block {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

article {
    h1.parser-block,
    h2.parser-block,
    h3.parser-block,
    h4.parser-block,
    h5.parser-block,
    h6.parser-block {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}
